.nganu {
    max-width: 350px;
    height: 70vh;
}

.scrollbar {
    max-height: 300px;
    overflow: auto;
    float: left;
    background: #fff;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4;
}

.scrollbar-primary {
    scrollbar-color: #4285F4 #F5F5F5;
}